@model IEnumerable<ImportOrder>
@{
    ViewBag.Title = "All Import Orders";
    Layout = "_AdminLayout";
}
<div class="mt-2">
    <h2>Import Orders</h2>
</div>
<div class="mt-2">
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-sm">
            <thead class="thead-light">
                <tr>
                    <th style="width:10%">Order ID</th>
                    <th colspan="2">Details</th>
                    <th style="width:10%" class="text-right">Sum</th>
                    <th style="width:10%" class="text-center">Delivery Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ImportOrder o in Model)
                {
                    <tr>
                        <td class="align-middle">@o.ImportOrderID</td>
                        <th class="align-middle">Product</th>
                        <th class="align-middle">Quantity</th>
                        <td class="align-middle text-right">@o.Sum.ToString("c")</td>
                        <td class="text-center">
                            @if (!o.Received)
                            {
                                <form asp-action="MarkDelivered" method="post">
                                    <input type="hidden" name="importOrderID" value="@o.ImportOrderID" />
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        Mark Delivered
                                    </button>
                                </form>
                            }
                            else
                            {
                                <div class="btn btn-success">
                                    <strong>Delivered</strong>
                                </div>
                            }
                        </td>
                    </tr>
                    @foreach (ImportItemsLine line in o.Lines)
                    {
                        <tr>
                            <td></td>
                            <td>@line.Product.Name</td>
                            <td>@line.Quantity</td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    }
    else
    {
        <div class="text-center">No Unreceived Orders</div>
    }
</div>
<a class="btn btn-primary mt-2"
   asp-controller="Import" asp-action="PlaceOrder">Place new order</a>